html, body, #root {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #c9d9de;
    font-family: -apple-system, "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root, #app-container, main {
    display: flex;
    flex-direction: column;
}

#app-container, main {
    flex: 1;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
